{% extends 'core/base.html' %}

{% block title %}Trang chủ{% endblock %}

{% block content %}
<h1 class="mb-4">Danh sách hoa 🌸</h1>

<form method="GET" style="margin-bottom:20px;">

    <input type="text" name="search" placeholder="Tìm hoa...">

    <select name="sort">
        <option value="">Sắp xếp</option>
        <option value="price_asc">Giá tăng dần</option>
        <option value="price_desc">Giá giảm dần</option>
    </select>

    <button type="submit">Tìm</button>

    <a href="{% url 'home' %}" class="btn btn-secondary">
Reset
</a>

</form>

<div class="row">
    {% for product in products %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if product.image %}
            <img src="{{ product.image.url }}" class="card-img-top" alt="{{ product.name }}">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ product.name }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="fw-bold text-danger">
                    {{ product.price }} VND
                </p>
                
                {% if user.is_authenticated %}
                <form method="POST" action="{% url 'place_order' product.id %}">
                {% csrf_token %}

                <select name="payment_method" class="form-select mb-2">

                <option value="cod">
                    Thanh toán khi nhận hàng (COD)
                </option>

                <option value="bank">
                    Chuyển khoản ngân hàng
                </option>

                </select>

                <button type="submit" class="btn btn-success">
                    Đặt hàng
                </button>

                </form>

                {% else %}
            <a href="{% url 'login' %}"
                class="btn btn-outline-secondary">
                    Đăng nhập để đặt hàng
            </a>
                {% endif %}
            </div>
        </div>
    </div>
    {% empty %}
    <p>Chưa có sản phẩm nào.</p>
    {% endfor %}
</div>

<div class="mt-4">

{% if products.has_previous %}
<a href="?page={{ products.previous_page_number }}&search={{ request.GET.search }}&sort={{ request.GET.sort }}">
Trang trước
</a>
{% endif %}

<span>Trang {{ products.number }} / {{ products.paginator.num_pages }}</span>

{% if products.has_next %}
<a href="?page={{ products.next_page_number }}&search={{ request.GET.search }}&sort={{ request.GET.sort }}">
Trang sau
</a>
{% endif %}

</div>
{% endblock %}